init.author.name = Luis De La Peña
init.author.email = luis.delapena@hotmail.es
init.author.url = http://blog.example.com
# an email is required to publish npm packages
email=luis.delapena@hotmail.com
always-auth=true
registry=https://serenity-nexus.alm.mx.corp/repository/npm-group/
# https://serenity-nexus.alm.mx.corp/repository/npm-releases/
_auth=YWRtaW46YWRtaW4xMjM=